.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.header {
    grid-column: 2/3;
    background-color: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px lightgrey;
    margin-bottom: 20px;
}
.search {
    display: flex;
    align-items: center;
}
.searchbtn {
    height: 25px;
    width: 5%;
    background-color: white;
    border: none;
}
.searchBar {
    height: 30px;
    min-width: 100px;
    background-color: lightgrey;
    border-radius: 10px;
    flex: 1;
    margin: 0 5% 0 5%;
}
.dashProfile {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    margin-left: 25%;
}
.alertsbtn {
    height: 25px;
    width: 10%;
    background-color: white;
    border: none;
}
.profilePic {
    background-image: url('images/Warme-10.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
}
.account {
    font-weight: bold;
}
.welcome {
    display: flex;
}
.icon {
    background-image: url('images/Warme-10.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    width: 75px;
    height: 75px;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hi {
    font-size: small;
}
.name {
    font-size: large;
    font-weight: bold;
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-left: 15%;
}
.buttons > button {
    color: white;
    background-color: rgb(94, 94, 250);
    border: none;
    border-radius: 25px;
    height: 35px;
    width: 75px;
    padding: 0;
    margin: 0;
}
.welcome {
}
.sidebar {
    background-color: forestgreen;
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: minmax(400px, 1fr) 1fr; 
}
.options {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(35px, 1fr));
    justify-content: center;
    align-items: center;
}
.empty {
}
.container {
    grid-column: 2/3;
    background-color: azure;
    display: grid;
    grid-template: 250px 250px / 250px 250px 250px 250px;
    grid-auto-rows: 250px;
    gap: 15px 15px;
}
.container > div {
    border: 1px solid slateblue;
}
.footer {
    grid-column: 2/3;
    background-color: slategray;
}